@model SquadManager.Models.UserViewModel

@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
<section>
    <h1>Crie sua conta</h1>

    <form id="form">
        <input type="text" name="username" id="username"  placeholder="Username" />
        <input type="email" name="email" id="email"  placeholder="Email" />
        <input type="password" name="password" id="password"  placeholder="Senha" />
        
        <input type="password" name="confirmPassword" id="confirmPassword"  placeholder="Confirmar Senha" />
        <div class="error">
            <span hidden>Senhas Diferentes!</span>
        </div>

        <button type="submit" onclick="signUp(event);"> Criar </button>

    </form>

</section>


<script src="~/js/signup.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
